*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.body-section{
    display: flex;
    justify-content: center;
    height: auto;
}

.body-content{
    text-align: center;
}

h1{
    margin: 10px;
    padding: 5px;
}

textarea{
    height: 400px;
    width: 400px;
    padding: 5px;
}

button{
    margin: 10px;
    padding: 5px;
    color: black;
    background-color: rgb(137, 228, 137);
    font-size: larger;

}

button:hover{
    background-color: rgb(46, 228, 46);
}